version: 2.1

jobs:
  build:
    working_directory: ~/gx5
    docker:
      - image: cimg/go:1.25.3
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v4-{{ checksum "go.sum" }}
      - run:
          name: Install Dependencies
          command: go mod download
      - save_cache:
          key: go-mod-v4-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"
      - run:
          name: Run Tests
          command: go test ./...
      - run:
          name: Create env
          command: |
            echo "DISCORD_TOKEN=${DISCORD_TOKEN}" >> .env
            echo "NOTION_TOKEN=${NOTION_TOKEN}" >> .env
            echo "NOTION_USER_DB_ID=${NOTION_USER_DB_ID}" >> .env
            echo "NOTION_OTHERS_DB_ID=${NOTION_OTHERS_DB_ID}" >> .env
            echo "DISCORD_GUILD_LOG_CHANNEL_ID=${DISCORD_GUILD_LOG_CHANNEL_ID}" >> .env
            echo "WORKER_CORNTAB=${WORKER_CORNTAB}" >> .env
      - persist_to_workspace:
          root: ./
          paths:
            - ./.env
  lint:
    docker:
      - image: golangci/golangci-lint:latest-alpine
    steps:
      - checkout
      - run: golangci-lint run
  deploy:
    working_directory: ~/gx5
    docker:
      - image: cimg/go:1.25.3
    steps:
      - run: sudo apt-get update && sudo apt-get install rsync
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "SHA256:NPj4IcXxqQEKGXOghi/QbG2sohoNfvZ30JwCcdSSNM0"
      - attach_workspace:
          at: /tmp/workspace
      - run: |
          echo "ssh.xgnid.space ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINw83wSAmzc8a+6ogibQ1lExzdfFCU83tUKy7uPRzuHU" >> ~/.ssh/known_hosts
          mv /tmp/workspace/.env ./.env
          rsync -va --delete ./ $SSH_USER@$SSH_HOST:gx5

workflows:
  sample:
    jobs:
      - build
      - lint
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: main
